/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body {
}


/* Header
-----------------------------------------------------------------------------*/
.header {
}

nav{
    background: #fff !important;
}
.brand-logo {
    margin-left: 2em;
}
.btn {
    background-color: #ffcc00 !important;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
}
a{
    color: #000 !important;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 300;
}
h1 {
	font-size: 3.2rem !important;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
	margin-top: 0 !important;
	padding: 1em;
}
p {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
h2{
     font-family: niveau-grotesk, serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
    font-size: 2em !important;
}

#prices_services {
  background: #000;
}

video {
  width: 100%;
  height: auto;
  z-index: -1;
}
#logoWhite {
  display: none;
}

#videoLogo{
    position: absolute;
    top: 64px;
    height: 50vh;
    width: 100%;
}

.videoLogo{

}
.swag{
    text-align: center;
}


.card {
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
  border-radius: unset !important;
}
.card_border {
  border-left: 2px solid #ffcc00 !important;
  border-right: 2px solid #ffcc00 !important;
  display: block;
}

.card .card-content p {
  margin: 0;
  text-align: center;
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  text-align: center;
  font-family: niveau-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.row{
	margin-bottom: unset !important;
}



@media only screen and (max-width: 992px) {
  #logoWhite {
    display: block;
    position: absolute;
    top: 100px;
  }
  .card_border {
    border-top: 2px solid #ffcc00 !important;
    border-bottom: 2px solid #ffcc00 !important;
    border-left: unset !important;
    border-right: unset !important;
    display: block;
  }
}

#company {
	width: 100%;
}

.pleaseNoPadding {
	padding: 0 !important;
}

.aboutC {
	background-color: #000;
	margin: 0;
	padding:0.7em;
}

#goodService {
	font-family: 'Cinzel', serif;
  font-weight: 400;
	color: #000;
	text-align: center;
}

#descr {
	line-height: 28px;
    margin-top: 2em;
}

#contactUs {
	color: #ffcc00 !important;
	font-size: 20px;
	font-weight: bold;
}

#contactUs:hover {
	text-decoration: underline;
}

@media only screen and (min-device-width : 991px){
    .videoLogo{
        width: 50%;
        height: auto;
        margin-top: 12em;
        margin-bottom: 2em;
    }
    #videoDiv{
        display: flex;
        justify-content: center;
        text-align: center;
    }
		#goodService {
			text-align: left;
		}
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  height: 100px;
  background: #bff08e;
}
